[Desktop Entry]
Type=Application
Name=xsdecaf
Comment=XSD Schema Diff Tool
Exec=/usr/bin/xsdecaf
Icon=xsdecaf
Terminal=false
Categories=Development;Utility;
StartupWMClass=xsdecaf

